.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.createBtn {
    color: whitesmoke;
    background-color: black;
}
.createBtn:hover {
    cursor: pointer;
}
.btnContainer {
    grid-area: 1/1/-1/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btnContainer button {
    font-size: 17px;

}